record(ai, "$(P)SENSORMATRIX:$(ROW)$(COLUMN)") {
  field(DESC, "Element $(ROW), $(COLUMN) of sensor matrix")
  field(DTYP, "Soft Channel")
  
  field(EGU, "")
  field(PREC, "2")
  field(PINI, "YES")

  info(archive, "VAL")
}
