record(ai, "$(P)DAQ:$(AXIS)")
{
  field(SCAN, "Passive")
  field(PINI, "NO")
  $(IFNOTRECSIM)  field(DTYP, "asynFloat64")
  $(IFRECSIM) field(DTYP, "Soft Channel")
  field(PREC, "3")
  field(INP, "@asyn(R0, $(AXIS_INDEX), 1) DATA")
  field(FLNK, "$(FWDLINK)")

  field(SIML, "$(P)SIM")
  field(SIOL, "$(P)SIM:DAQ:$(AXIS)")
  field(SDIS, "$(P)DISABLE")
}

record(ai,  "$(P)SIM:DAQ:$(AXIS)")
{
  field(DESC,  "Axis $(AXIS) sim value")
}

