record(calcout, "$(P)$(STREAM_PV):ERRORS"){
    field(CALC, "A")

    field(INPA, "$(P)$(STREAM_PV)")
    field(INPB, "$(P)ERRORS MSS")

    field(OUT, "$(P)$(STREAM_PV) NPP MSS")

    field(FLNK, "$(P)$(FWDLINK)")
}
#
